


// <header> styles.
//    The header shows the current user's avatar and name.

header#profile {
  flex-grow:        1;
  min-width:        10rem;
  margin:           .5rem;
  padding:          1rem;
  background:       $header-bg-colour $header-bg-image repeat;

  .container {
    width:            100%;
    text-align:       center;
  }

  .avatar {
    width:            7rem;
    height:           7rem;
  }

  .name {
    min-width:        7rem;
  }
}



