


// <main> styles.
//    This is what contains the header and tweet container.

main {
  display:          flex;
  flex-direction:   row;
  align-items:      flex-start;
  max-width:        $content-max-width;
  margin:           0 auto;
  padding:          .5rem;
}



