


// <main> styles.
//    This is what contains the header and tweet container.

main {
  display:          flex;
  flex-direction:   row;
  max-width:        40rem;
  margin:           0 auto 0;
}



