


// <nav> styles.
//    The nav bar is fixed at the top of the viewport and shows
//    the app name and navigation links.  It also contains the scroll-to-top
//    button which is fixed at bottom-right and doesn't show in the nav bar,
//    but <nav> is an appropriate place to house it.

nav {
  position:         fixed;
  z-index:          1337;
  top:              0;
  left:             0;
  right:            0;
  padding:          1.5rem;
  background-color: $nav-colour;
  color:            $nav-text-colour;
  word-break:       normal;

  #nav-title {
    font-family:      $heavy-font;
  }

  #nav-box {
    float:            right;
    text-align:       right;
  }

  #nav-tweet {
    padding:          0 .5rem;
    cursor:           pointer;

    :hover {
      background:       $nav-tweet-hover-bg-colour;
      box-shadow:       0 0 .25rem .25rem $nav-tweet-shadow-colour;
    }
  }

  #scroll-to-top {
    display:          none;
    position:         fixed;
    bottom:           .5rem;
    right:            .5rem;
    width:            2rem;
    height:           2rem;
    cursor:           pointer;
  }
}



