


section.new-tweet {
  width:            100%;
  max-width:        25rem;
  margin:           0 0 1rem 0;

  label {
    display:          block;
    padding:          0 0 .4rem;
  }

  textarea {
    display:          block;
    resize:           none;
    width:            100%;
    border:           none;
    border-bottom:    0.15rem solid $border-colour;
    margin:           0 0 1rem;
    padding:          .25rem;
    background:       transparent;

    ::placeholder {
      font-style:       italic;
      opacity:          .15;
    }
  }

  button {
    border:           .15rem solid $tweet-button-border-colour;
    box-shadow:       0 0 .25rem 0 $tweet-button-shadow-colour;
    padding:          .25rem 1rem;
    background:       $tweet-button-bg-colour;
    font-family:      $heavy-font;
  }

  output {
    float:            right;
    padding:          .25rem 0;
    font-family:      $heavy-font;
  }

  .error {
    display:          none;
  }
}



