


nav {
  position:         fixed;
  z-index:          420;
  top:              0;
  left:             0;
  right:            0;
  padding:          1.5rem;
  background-color: #4056A1;
  color:            ghostwhite;
  overflow-wrap:    normal;

  #nav_title {
    font-family:      "Bungee";
  }

  #nav_box {
    float:            right;
    text-align:       right;
  }

  #nav_tweet {
    padding:          0 .5rem;
    cursor:           pointer;

    :hover {
      background:       rgba(0, 0, 0, .25);
      box-shadow:       0 0 .25rem .25rem skyblue;
    }
  }



  #scroll-to-top {
    display:          none;
    position:         fixed;
    bottom:           .5rem;
    right:            .5rem;
    width:            2rem;
    height:           2rem;
    cursor:           pointer;
  }
}



