


header#profile {
  flex-grow:        1;
  position:         relative;
  min-width:        10rem;
  height:           10rem;
  margin:           1rem 0 0 1rem;
  background:       burlywood url("/images/food.png") repeat;
}

header#profile .container {
  position:         absolute;
  top:              50%;
  width:            100%;
  -ms-transform:    translateY(-50%);
  transform:        translateY(-50%);
  text-align:       center;
}

header#profile .avatar {
  width:            7rem;
  height:           7rem;
}

header#profile .name {
  min-width:        7rem;
}



