


section.new-tweet {
  width:            90%;
  margin:           .5em auto;
}

section.new-tweet label {
  display:          block;
  padding:          0 0 .4em;
}

section.new-tweet textarea {
  display:          block;
  width:            100%;
  border:           none;
  border-bottom:    0.15em solid burlywood;
  margin:           0 0 1em;
  padding:          .25em;
  background:       transparent;
}

section.new-tweet button {
  border:           .15em solid gold;
  box-shadow:       0 0 .25em 0 burlywood;
  padding:          .25em 1em;
  background:       ghostwhite;
  font-family:      Bungee;
}

section.new-tweet output {
  float:            right;
  padding:          .25em 0;
  font-family:      Bungee;
}

section.new-tweet .error {
  display:          none;
}



